<!DOCTYPE html>
<html>

<head>
  <title>ChatRoom</title>
  <link rel="stylesheet" href="sprechblase.css">
</head>
 
<body>


</script>
 <img id="img1" src="robicolors2.png" alt="Chatbot" width="500" height=auto ><nobr></nobr>
 <img id="img2" src="robi_bunt.jpg" alt="Chatbot" width="500" height=auto style="visibility:hidden">
 <script type="text/javascript">
      function tend() {
        document.getElementById('img1').style.visibility='hidden';
		document.getElementById('img2').style.visibility='visible';
      }
    </script>

 <div id="sprechblase">
   <dl widht=300px id="messages">
   </dl>

   <input type="hidden" id="myMessage">
   <input type="hidden" id="sendbutton" onclick="tend()" value="back">
 </div>

 <div id="eingabefeld">
	<textarea id="myMessage" width="100%" height="100%" maxlength="200" placeholder="Frage hier eintippen"> </textarea>
	<button id="sendbutton" onclick="tend()" value="back">Send</button>
 </div>
 
 <div id="sprechblase:before"> 
 </div>

 <div id="sprechblase:after">
 </div>

</body>

</html> 

