<!DOCTYPE html>
<html>

<head>
  <title>Chatbot Robi</title>
  <link rel="stylesheet" href="sprechblase.css">
</head>

<body>
 <img id="img" src="robotfinal/robi1.png" alt="Chatbot" width="500" height=auto> <nobr></nobr>
 <img id="img" src="robotfinal/robi2.png" alt="Chatbot" width="500" height=auto>

 <div id="sprechblase">
   <dl widht=300px id="messages">
   </dl>

   <textarea id="myMessage" rows="4" cols="20"> </textarea>
   <button id="sendbutton">Send</button>
 </div>

 <div id="sprechblase:before"> 
 </div>

 <div id="sprechblase:after">
 </div>

</body>

</html> 
