<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>

<script type="text/javascript">
var socket = io.connect('http://127.0.0.1:5000');

function sendEvaluation(id, helpful){
	var message = {
		"type" : "rating",
		"id" : id,
		"helpful" : helpful
	};
	socket.send(message);
}
$(document).ready(function() {
	//empfange message und hänge diese an messages an
	socket.on('message', function(msg) {
		if(msg.session_id){
			console.log(msg.session_id + " connected");
		}
		else{
			var appendum = '<dd> ich denke '+ msg.answer.name + ' | war diese antwort hilfreich? : <button onClick=sendEvaluation("'+msg.id.toString()+'","true")> Ja</button><button onClick=sendEvaluation("'+msg.id.toString()+'","false")>Nein</button></dd>';
			$("#messages").append(appendum);
			console.log(appendum);
		}
	});
	//sende Nachricht und resette danach fenster von myMessage
	$('#sendbutton').on('click', function() {
		var message = {
			"text" : $('#myMessage').val(),
			"type" : "question"
		};
		console.log(typeof message);
		console.log(message);
		if(message){
			socket.send(message);
			$("#messages").append('<dt>'+message.text+'</dt>');
			$('#myMessage').val('');
			console.log("Sent " + message);
		}
		else{
			console.log("bitte gib doch eine nachricht ein")
		}
	});
});
</script>

<h3>Hallo Lernender</h3>
<dl widht=300px id="messages">
</dl>
<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
</body>
</html>