<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Chatbot Robi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/sprechblase.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>

<body>

<script type="text/javascript">
var socket = io.connect('http://{{adress}}:5000');

$(document).ready(function() {
	//empfange message und hänge diese an messages an
	socket.on('message', function(msg) {
		if(msg.answer){
			changeRobi();
			var appendum = '<dd>'+ msg.answer +'</dd>';
			$("#messages").append(appendum);
		}
	});
	//sende Nachricht und resette danach fenster von myMessage
	$('#sendbutton').on('click', function() {
		var message = {
			"text" : $('#myMessage').val(),
			"type" : "question"
		};
		if(message){
			socket.send(message);
			//$("#messages").append('<dt>'+message.text+'</dt>');
			$('#myMessage').val('');
			console.log("Sent " + message);
		}
		else{
			console.log("bitte gib doch eine nachricht ein")
		}
	});
});
</script>

<div >
 <img id="img1" src="/static/robi1.png" alt="Chatbot" ><nobr></nobr>
 <img id="img2" src="/static/robi2.png" alt="Chatbot" style="visibility:hidden">
 <script type="text/javascript">
      function tend() {
        document.getElementById('img1').style.visibility='hidden';
		document.getElementById('img2').style.visibility='visible';
      }
    </script>
 
 <div id="sprechblase">
   <h4> Hallo, ich bin Robi. </h4>
   <dl id="messages"></dl>
 </div>
 
 <div id="eingabefeld">
   <input type="text" id="myMessage" placeholder="Frage hier eintippen" maxLength= "200px">
   <button id="sendbutton" onclick="tend()" value="back">Send</button>
 </div>

 <div id="sprechblase:before"> 
 </div>

 <div id="sprechblase:after">
 </div>
 
 </div>
</body>
</html>