<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Chatbot Robi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>

	<body>
		<script type="text/javascript">
		var socket = io.connect('http://{{adress}}:5000');
		var gifFiles = JSON.parse('{{gifFiles|tojson}}');
		$(document).ready(function() {
			//empfange message und hänge diese an messages an
			socket.on('message', function(msg) {
				if(msg.answer){
					var appendum = '<dd>'+ msg.answer +'</dd>';
					//$("#answer").append(appendum);
					document.getElementById('answer').innerHTML = appendum;
				}
			});
			//sende Nachricht und resette danach fenster von myMessage
			$('#sendbutton').on('click', function() {
				var message = {
					"text" : $('#myMessage').val(),
					"type" : "question"
				};
				if(message.text){
					socket.send(message);
					$('#myMessage').val('');
					//console.log("Sent " + JSON.stringify(message));
				}
				else{
					//console.log("bitte gib doch eine nachricht ein")
				}
			});
		});
		//Führe Funktion im Intervall von 5 Sekunden aus
		setInterval(changeRobi, 5000);

		function changeRobi() {
			var changeToFile = '/static/' + gifFiles[Math.floor(Math.random()*gifFiles.length)];
			//alert(changeToFile);
			document.getElementById('gif').src= changeToFile;

		} 
		</script>

		<div>
			<img id="gif" src="/static/dancing.gif" alt="Chatbot" ><nobr>

			<div id="sprechblase">
				<dl id="answer"></dl>
			</div>

			<div id="eingabefeld">
				<input type="text" id="myMessage" placeholder="Frage hier eintippen">
				<button id="sendbutton" value="back">Ask</button>
			</div>

			<div id="sprechblase:before"></div>

			<div id="sprechblase:after"></div>
		</div>
	</body>
</html>